<div class="container">
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h3>{{this.title}}</h3>
                <p>Precio: ${{this.price}}</p>
                <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
                <a href="/products/{{this._id}}">Ver detalles</a>
            </li>
        {{/each}}
    </ul>

    <div class="pagination">
        {{#if pagination.hasPrevPage}}
            <a href="/?page={{pagination.prevPage}}&limit={{pagination.limit}}">Anterior</a>
        {{/if}}
        <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>
        {{#if pagination.hasNextPage}}
            <a href="/?page={{pagination.nextPage}}&limit={{pagination.limit}}">Siguiente</a>
        {{/if}}
    </div>
</div>